<!-- <p>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Task name" [(ngModel)]="task.taskname" required>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Description" [(ngModel)]="task.description" required>
    </mat-form-field>
</p>
<button mat-raised-button color="primary" (click)=onAdd()>Add</button> -->
<h1>Add Task</h1>
<form (ngSubmit)="onAdd()">

    <div>
        <label>
                Task Name:
              </label>
        <input type="text" [(ngModel)]="task.taskname" [ngModelOptions]="{standalone: true}" required>
    </div>

    <div>
        <label>
                Description:
              </label>
        <input id="description" type="text" [(ngModel)]="task.description" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>
                    Due date:
                  </label>
        <input type="datetime-local" [(ngModel)]="task.due_date" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="button" type="submit">Add Task</button>

</form>