<div class="container">

    <!-- <div class="row">
    
    <div class="col-md-6">

      <h1 class="form-signin-heading">Sign in</h1>
      <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
  
      <form (submit)="login()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Sign in!</button>
      </form>

    </div>

  </div> -->
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter email" [(ngModel)]="credentials.email" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- <mat-form-field class="example-full-width">
                                <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
                            </mat-form-field> -->
                            <mat-form-field>
                                <input matInput name="password" placeholder="Enter password" type="password" [(ngModel)]="credentials.password" required>



                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
    <div class="alert-danger" *ngIf="loginFailure" role="alert">
        Invalid Credentials
    </div>
</div>